@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* { 
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
  }

  .navbar {
    background: #222;
    font-family: 'Montserrat', sans-serif;
  }

  .navbar-brand{
      margin-left: 50px;
      font-size: 1.3rem;
      font-family: 'Montserrat', sans-serif;
  }
  
  .collapse {
    padding-right: 4vw;
  }
  
  .nav-item {
    padding-left: 1.5vw;
    font-size: 0.9rem;
  }

  .nav-link {
    font-family: 'Montserrat', sans-serif;
  }

  .logo {
      height: 30px;
      padding-right: 16px;;
  }