@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar {
    background: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
    margin-left: 50px;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

.collapse {
    padding-right: 4vw;
}

.nav-item {
    padding-left: 1.5vw;
    font-size: 0.9rem;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    height: 30px;
    padding-right: 16px;
}

.keynote-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.keynote-header {
    text-align: center;
    font-size: 6rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-weight: bold;
    color: rgb(211, 211, 211);
}

.keynote-name {
    margin-top: 40px;
    font-size: 2.8rem;
    font-weight: bold;
}

.keynote-img-sect {
    text-align: center;
}

.keynote-img {
    width: 70%;
}

.keynote-workplace {
    color: rgb(139, 139, 139);
}

.keynote-desc {
    margin-top: 30px;
    font-size: 1.1rem;
}

.slant {
    height: 100px;
    width: 100%;
    fill: #829fff;
    transform: (-1px, 0px);
}

.speaker-header {
    text-align: center;
    font-size: 5rem;
    padding-top: 3rem;
    margin-bottom: 5rem;
    font-weight: bold;
    color: #b1c3ff;
}

.speakers-section {
    text-align: center;
    background-color: #829fff;
    color: #fff;
}

.speaker-holder {
    margin-bottom: 6rem;
}

.speaker-name {
    font-size: 2.6rem;
    margin-top: 20px;
    font-weight: bold;
}

.speaker-workplace {
    margin-bottom: 30px;
    color: #cdd8fc;
}

.speaker-desc {
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1.1rem;
}

.bottom-slant {
    transform: rotate(180deg);
}

.booths-header {
    text-align: center;
    font-size: 6rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-weight: bold;
    color: rgb(211, 211, 211);
}

.booths-list {
    margin-bottom: 100px;
    list-style: none;
    display: flex;
}

.booth-list1 {
    margin-right: 50px;
}

.booth-list2 {
    margin-left: 50px;
}

.booth {
    font-size: 1.8rem;
    margin-top: 20px;
}

.booth::before {
    content: "\2022";
    color: #829fff;
    font-weight: bold;
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
}

.change-day {
    text-align: center;
    padding-bottom: 80px;
}

.day-btn {
    background-color: #3b69ff;
    color: #fff;
    font-size: 1.2rem;
    padding: 16px 32px;
    border-radius: 4px;
}

.day-btn:hover {
    background-color: #0062f5;
    color: #fff;
    text-decoration: none;
}


footer {
    background: #111;
    color: #fff;
    font-size: 0.8rem;
}

.footer-left {
    margin-left: 60px;
    margin: 40px;
}

.footer-center {
  text-align: center;
  margin: 40px;
  margin-top: 50px;
}

#rights-reserved {
    font-size: 1rem;
    margin-bottom: 18px;
}

#webpoint-text {
  font-size: 1rem;
}

.socials {
    font-size: 3rem;
    position: absolute;
    top: 46%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.fab {
    margin-right: 40px;
    color: #fff;
}

.fab:hover {
  color: rgb(212, 212, 212);
}

@media only screen and (max-width: 1500px){
    .keynote-desc {
        font-size: 1rem;
    }
    .speaker-desc {
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 1200px){
    .speaker-desc {
        font-size: 1rem;
        margin-left: 14rem;
        margin-right: 14rem;
    }
    .slant {
        height: 60px;
    }
    .booths-list {
        display: inline-block;
    }
    .booth-list1 {
        margin-right: 0px;
    }
    
    .booth-list2 {
        margin-left: 0px;
    }
}


@media only screen and (max-width: 992px){
    
    .keynote-header {
        font-size: 4rem;
    }
    .keynote-img {
        width: 50%;
    }
    .keynote-section {
        text-align: center;
    }
    .keynote-desc {
        margin-left: 6rem;
        margin-right: 6rem;
    }
    .speaker-desc {
        margin-left: 9rem;
        margin-right: 9rem;
    }
    .speaker-holder {
        margin-bottom: 4rem;
    }
    .booths-header {
        font-size: 4rem;
    }
    .booth {
        font-size: 1.4rem;
    }
    .footer-left {
        text-align: center;
        margin: 0;
        margin-top: 30px;
    }

    .footer-center {
      text-align: center;
      margin: 30px;
      padding-bottom: 10px;
    }

    .socials {
        position: relative;
        margin: 0;
        padding: 0;
        padding-bottom: 40px;
        transform: none;
        top: 0;
        left: 0;
    }

    .social-col {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .fab {
        margin: 0px 30px;
    }
}

@media only screen and (max-width: 768px){
    .keynote-header {
        font-size: 3.2rem;
    }
    .keynote-img {
        width: 60%;
    }
    .keynote-desc {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .speaker-header {
        font-size: 3.2rem;
    }
    .speaker-desc {
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .speaker-holder {
        margin-bottom: 3rem;
    }
    .booths-header {
        font-size: 3.2rem;
    }
    .booths-list {
        margin-left: 6%;
    }
    .booth {
        font-size: 1.1rem;
    }
    .logo {
        height: 26px;
    }
    .navbar-brand {
        font-size: 1rem;
        margin-left: 0;
    }
    footer {
        font-size: 0.9rem;
    }
    .made-by-webpoint {
       font-size: 1rem;
   }
}

@media only screen and (max-width: 450px) {
    .keynote-section {
        margin-bottom: 1rem;
    }
    .keynote-header {
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    .keynote-img {
        width: 70%;
    }
    .keynote-name {
        font-size: 1.5rem;
    }
    .keynote-workplace {
        font-size: 1.1rem;
    }
    .keynote-desc {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 0.8rem;
    }
    .speaker-header {
        margin-bottom: 4rem;
    }
    .speaker-img {
        width: 60%;
    }
    .speaker-name {
        font-size: 1.5rem;
    }
    .speaker-workplace {
        font-size: 1.1rem;
    }
    .speaker-desc {
        margin-left:2rem;
        margin-right: 2rem;
        font-size: 0.8rem;
    }
    .booths-header {
        margin-bottom: 3rem;
    }
    .booths-list {
        margin-left: 4%;
    }
    .booth {
        font-size: 1rem;
    }
    .logo {
        height: 20px;
    }
    .navbar-brand {
        font-size: 0.8rem;
        margin-left: 6px;
    }
    footer {
        font-size: 0.7rem;
    }
    .made-by-webpoint {
       font-size: 0.8rem;
   }
}

@media only screen and (max-width: 326px){
    .logo {
        display: none;
    }
    .day-btn {
        font-size: 1rem;
    }
}