@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* { 
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    font-family: 'Oxygen', sans-serif;
  }

  .navbar {
    background: #222;
    font-family: 'Montserrat', sans-serif;
  }

  .navbar-brand{
      margin-left: 50px;
      font-size: 1.3rem;
      font-family: 'Montserrat', sans-serif;
  }
  
  .collapse {
    padding-right: 4vw;
  }
  
  .nav-item {
    padding-left: 1.5vw;
    font-size: 0.9rem;
  }

  .nav-link {
    font-family: 'Montserrat', sans-serif;
  }

  .logo {
      height: 30px;
      padding-right: 16px;;
  }

  .full-hero {
    background: linear-gradient(rgba(2,2,2,0.8), rgba(2,2,2,0.8)), url("/images/hero.jpg") no-repeat center;
    height: 600px;
    overflow: hidden;
    background-size: cover;
  }

  .inner-hero {
      color: #fff;
      text-align: center;
  }

  .hero-header{
      font-size: 5rem;
      margin: 1.6rem;
      margin-top: 8rem;
      font-family: 'Oxygen', sans-serif;
      font-weight: 700;
  }

  .hero-sub {
      font-size: 1.9rem;
      margin-bottom: 4rem;
      font-weight: 300;
  }

.hero-register-btn {
    background-color: #0C5EB7;
    color: #fff;
    font-size: 1.4rem;
    padding: 16px 32px;
    border-radius: 4px;
}

.hero-register-btn:hover {
    background-color: #0A529F;
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 1200px){
   .hero-header{
       font-size: 4.2rem;
       margin-top: 9rem;
   }
   .hero-sub {
    font-size: 1.6rem;
   }
}

@media only screen and (max-width: 1000px){
    .hero-header {
        font-size: 3.8rem;
        margin-top: 7rem;
    }
}

@media only screen and (max-width: 768px){
    .hero-header {
        font-size: 3.2rem;
    }
    .hero-sub {
        font-size: 1.2rem;
    }
    .hero-register-btn {
        font-size: 1rem;
        padding: 16px 32px;
        border-radius: 3px;
    }
    .logo {
        height: 26px;
    }
    .navbar-brand {
        font-size: 1rem;
        margin-left: 0;
    }
}

@media only screen and (max-width: 450px) {
    .hero-header {
        margin-top: 3rem;
        text-align: left;
    }
    .hero-sub {
        margin-bottom: 5rem;
    }
    .logo {
        height: 20px;
    }
    .navbar-brand {
        font-size: 0.8rem;
        margin-left: 6px;
    }
}

@media only screen and (max-width: 326px){
    .hero-header {
        margin-top: 2rem;
        font-size: 2.4rem;;
    }
    .hero-sub {
        margin-bottom: 4rem;
        font-size: 1rem;
    }
    .logo {
        display: none;
    }
}



  