@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar {
    background: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
    margin-left: 50px;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

.collapse {
    padding-right: 4vw;
}

.nav-item {
    padding-left: 1.5vw;
    font-size: 0.9rem;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    height: 30px;
     padding-right: 16px;;
}

#exec-sect {
    background-color: #fff;
    z-index: -2;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    font-weight: 900;
    font-size: 6rem;
    text-align: center;
    z-index: 0;
    margin: 40px
}

.exec-header {
    color: rgb(211, 211, 211);
}


.person {
    text-align: center;
    padding-bottom: 3rem;
}

.first-col {
    margin-top: 2rem;
}

.team-pic {
    width: 60%;
}
.team-name {
    font-weight: 700;
    margin-top: 1.8rem;
    margin-bottom: 0.8rem;
    z-index: 1;
}

.team-desc {
    font-size: 0.9rem;
    z-index: 1;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    line-height: 1.8;
}

#plan-sect {
    background-color: #829fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.plan-header {
    color: #b1c3ff;
}

#lia-sect {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lia-header {
    color: rgb(211, 211, 211);

}
/* color: #4d76ff; */

.plan-name {
    color: #fff;
  }

  .plan-desc {
    color: #fff;
  }


footer {
    background: #111;
    color: #fff;
    font-size: 0.8rem;
}

.footer-left {
    margin-left: 60px;
    margin: 40px;
}

.footer-center {
  text-align: center;
  margin: 40px;
  margin-top: 50px;
}

#rights-reserved {
    font-size: 1rem;
    margin-bottom: 18px;
}

#webpoint-text {
  font-size: 1rem;
}

.socials {
    font-size: 3rem;
    position: absolute;
    top: 46%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.fab {
    margin-right: 40px;
    color: #fff;
}

.fab:hover {
  color: rgb(212, 212, 212);
}

@media only screen and (max-width: 1600px) {
    .header {
        font-size: 6rem;
    }
}

  @media only screen and (max-width: 1200px){
    .header {
        font-size: 4rem;
    }
    .first-col {
        margin: 0;
    }

    .first {
        margin-top: 1.6rem;
    }
    .team-pic {
        width: 300px;
    }

    .team-desc {
        margin-left: 16%;
        margin-right: 16%;
    }
 }

 @media only screen and (max-width: 992px){

    .footer-left {
        text-align: center;
        margin: 0;
        margin-top: 30px;
    }

    .footer-center {
      text-align: center;
      margin: 30px;
      padding-bottom: 10px;
    }

    .socials {
        position: relative;
        margin: 0;
        padding: 0;
        padding-bottom: 40px;
        transform: none;
        top: 0;
        left: 0;
    }

    .social-col {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .fab {
        margin: 0px 30px;
    }

 }

 @media only screen and (max-width: 768px){
     .logo {
         height: 26px;
     }
     .navbar-brand {
         font-size: 1rem;
         margin-left: 0;
     }
     .header {
         font-size: 4rem;
         margin-left: 10px;
         margin-right: 10px;
     }
     .team-pic {
        width: 260px;
    }

    .team-desc {
        margin-left: 10%;
        margin-right: 10%;
    }
 }

 @media only screen and (max-width: 450px) {
     .logo {
         height: 20px;
     }
     .navbar-brand {
         font-size: 0.8rem;
         margin-left: 6px;
     }
     footer {
         font-size: 0.7rem;
     }
     .made-by-webpoint {
        font-size: 0.8rem;
    }
    .header {
        font-size: 3.7rem;
    }
 }

 @media only screen and (max-width: 326px){
     .logo {
         display: none;
     }
 }
